.DS_Store
.idea

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad

Example/*.xcodeproj/xcuserdata/*.xcuserdatad
Example/*.xcworkspace/xcuserdata/*.xcuserdatad

*.xccheckout
*.xcuserdatad

# Pods
Pods

# build artefacts
DerivedData
build
*.app.dSYM.zip
*.ipa

# fastlane
fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit
fastlane/test_output
fastlane/gym_output

